:host {
  padding: 16px;
  .g {
    &__content {
      display: flex;
      gap: 16px;
      flex-direction: column;
      &__title {
        font-size: 20px;
        flex-direction: column;
        height: 100%;
      }
      &__empty-title {
        font-size: 18px;
        text-align: center;
      }
    }
    &__fab {
      --box-shadow: none;
    }
  }
}
