:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.groups__scroll {
  padding: 8px 20px calc(env(safe-area-inset-bottom, 0) + 120px);
  display: flex;
  flex-direction: column;
  gap: 4px;
}
