.pd{
    background-color: var(--ion-color-white);
    &__img{
        margin-top: 35px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 35px;
    }
}