:host{
    justify-content: center;
    .body{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px;
        align-items: center;
        &__actions{
            display: flex;
            gap: 10px;
            ion-button{
                width: 100px;
            }
        }
    }
}