.ui-font-title {
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.ui-font-modal-title {
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.ui-font-text {
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.ui-font-profile-title{
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}


.ui-font-profile-label{
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}