.ui-font-title {
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.ui-font-text {
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.3px;
}
