// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #9c59e8;
  --ion-color-primary-rgb: 156, 89, 232;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #894ecc;
  --ion-color-primary-tint: #a66aea;

  --ion-color-secondary: #2921cb;
  --ion-color-secondary-rgb: 41, 33, 203;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #241db3;
  --ion-color-secondary-tint: #3e37d0;

  --ion-color-tertiary: #6e8e86;
  --ion-color-tertiary-rgb: 110, 142, 134;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #617d76;
  --ion-color-tertiary-tint: #7d9992;

  --ion-color-success: #419b53;
  --ion-color-success-rgb: 65, 155, 83;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #398849;
  --ion-color-success-tint: #54a564;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ec5f72;
  --ion-color-danger-rgb: 236, 95, 114;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d05464;
  --ion-color-danger-tint: #ee6f80;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f0f1f9;
  --ion-color-light-rgb: 240, 241, 249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d3d4db;
  --ion-color-light-tint: #f2f2fa;

  /** white **/
  --ion-color-white: #fff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #f3f2f2;
  --ion-color-white-tint: #fff;

  --ion-color-complementary: #ebba1b;
  --ion-color-complementary-rgb: 235, 186, 26;
  --ion-color-complementary-contrast: #000000;
  --ion-color-complementary-contrast-rgb: 0, 0, 0;
  --ion-color-complementary-shade: #cfa417;
  --ion-color-complementary-tint: #edc131;

  --ui-font-roboto: "Roboto", sans-serif;
  --ui-font-alatsi: "Alatsi", sans-serif;

  --ui-fsize-16: 16px;
  --ui-fsize-18: 18px;
  --ui-fsize-42: 42px;

  --ui-fweight-regular: 400;
  --ui-fweight-bold: 700;
}

// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #9c59e8;
//     --ion-color-primary-rgb: 156, 89, 232;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255, 255, 255;
//     --ion-color-primary-shade: #894ecc;
//     --ion-color-primary-tint: #a66aea;

//     --ion-color-secondary: #2921cb;
//     --ion-color-secondary-rgb: 41, 33, 203;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255, 255, 255;
//     --ion-color-secondary-shade: #241db3;
//     --ion-color-secondary-tint: #3e37d0;

//     --ion-color-tertiary: #6e8e86;
//     --ion-color-tertiary-rgb: 110, 142, 134;
//     --ion-color-tertiary-contrast: #000000;
//     --ion-color-tertiary-contrast-rgb: 0, 0, 0;
//     --ion-color-tertiary-shade: #617d76;
//     --ion-color-tertiary-tint: #7d9992;

//     --ion-color-success: #419b53;
//     --ion-color-success-rgb: 65, 155, 83;
//     --ion-color-success-contrast: #ffffff;
//     --ion-color-success-contrast-rgb: 255, 255, 255;
//     --ion-color-success-shade: #398849;
//     --ion-color-success-tint: #54a564;

//     --ion-color-warning: #ffc409;
//     --ion-color-warning-rgb: 255, 196, 9;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0, 0, 0;
//     --ion-color-warning-shade: #e0ac08;
//     --ion-color-warning-tint: #ffca22;

//     --ion-color-danger: #ec5f72;
//     --ion-color-danger-rgb: 236, 95, 114;
//     --ion-color-danger-contrast: #000000;
//     --ion-color-danger-contrast-rgb: 0, 0, 0;
//     --ion-color-danger-shade: #d05464;
//     --ion-color-danger-tint: #ee6f80;

//     --ion-color-medium: #92949c;
//     --ion-color-medium-rgb: 146, 148, 156;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0, 0, 0;
//     --ion-color-medium-shade: #808289;
//     --ion-color-medium-tint: #9d9fa6;

//     --ion-color-light: #f0f1f9;
//     --ion-color-light-rgb: 240, 241, 249;
//     --ion-color-light-contrast: #000000;
//     --ion-color-light-contrast-rgb: 0, 0, 0;
//     --ion-color-light-shade: #d3d4db;
//     --ion-color-light-tint: #f2f2fa;

//     /** white **/
//     --ion-color-white: #fff;
//     --ion-color-white-rgb: 255, 255, 255;
//     --ion-color-white-contrast: #000;
//     --ion-color-white-contrast-rgb: 0, 0, 0;
//     --ion-color-white-shade: #f3f2f2;
//     --ion-color-white-tint: #fff;

//     --ion-color-complementary: #ebba1b;
//     --ion-color-complementary-rgb: 235, 186, 26;
//     --ion-color-complementary-contrast: #000000;
//     --ion-color-complementary-contrast-rgb: 0, 0, 0;
//     --ion-color-complementary-shade: #cfa417;
//     --ion-color-complementary-tint: #edc131;
//   }
// }
//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0, 0, 0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255, 255, 255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-item-background: #000000;

//     --ion-card-background: #1c1c1d;
//   }

//   .ios ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }

//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18, 18, 18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255, 255, 255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;

//     --ion-card-background: #1e1e1e;
//   }
// }

// Fonts
// 100    Extra Light or Ultra Light
// 200    Light or Thin
// 300    Book or Demi
// 400    Normal or Regular
// 500    Medium
// 600    Semibold, Demibold
// 700    Bold
// 800    Black, Extra Bold or Heavy
// 900    Extra Black, Fat, Poster or Ultra Black

.ion-color-complementary {
	--ion-color-base: var(--ion-color-complementary);
	--ion-color-base-rgb: var(--ion-color-complementary-rgb);
	--ion-color-contrast: var(--ion-color-complementary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-complementary-contrast-rgb);
	--ion-color-shade: var(--ion-color-complementary-shade);
	--ion-color-tint: var(--ion-color-complementary-tint);
}

@font-face {
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: var(--ui-fweight-regular);
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: var(--ui-font-roboto);
  font-style: normal;
  font-weight: var(--ui-fweight-bold);
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: var(--ui-font-alatsi);
  font-style: normal;
  font-weight: var(--ui-fweight-regular);
  src: url("../assets/fonts/Alatsi/Alatsi-Regular.ttf");
}
