:host {
  display: block;
}

.app-fab {
  margin-bottom: calc(env(safe-area-inset-bottom, 48px) + 24px);
}

.pts__scroll {
  padding: 8px 20px calc(env(safe-area-inset-bottom, 0) + 120px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pts__section {
  display: flex;
  flex-direction: column;

  .section-title {
    padding: 0 0 8px;
  }
}
