:host {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  .pi {
    &__input {
      position: relative;
    }
    &__icon {
      position: absolute;
      z-index: 1000;
      right: 18px;
    }
  }
}
